[submodule "softdev"]
	path = softdev
	url = git@github.com:CreativePenguin/stuyvesant-softdev.git
[submodule "systems/work_03_euler"]
	path = systems/work_03_euler
	url = git@github.com:mks65/euler-CreativePenguin.git
[submodule "systems/work_09_array"]
	path = systems/work_09_array
	url = git@github.com:mks65/array-swap-CreativePenguin.git
[submodule "systems/work_13_make"]
	path = systems/work_13_make
	url = git@github.com:mks65/make-CreativePenguin.git
[submodule "systems/work_17_struct"]
	path = systems/work_17_struct
	url = git@github.com:CreativePenguin/systems-17_struct.git
[submodule "systems/work_18_dynam_alloc"]
	path = systems/work_18_dynam_alloc
	url = git@github.com:CreativePenguin/stuy-cs-systems-18_dynam_alloc.git
[submodule "systems/proj_00_my_tunes"]
	path = systems/proj_00_my_tunes
	url = git@github.com:mwalden00/Systems_Song_Node.git
[submodule "systems/work_19_randfile"]
	path = systems/work_19_randfile
	url = git@github.com:CreativePenguin/stuy-cs-systems-work_19_randfile.git
[submodule "systems/work_20_stat"]
	path = systems/work_20_stat
	url = git@github.com:CreativePenguin/stuy-cs-systems-work_20_stat.git
[submodule "systems/work_21_dirinfo"]
	path = systems/work_21_dirinfo
	url = git@github.com:CreativePenguin/stuy-cs-systems-06_dirinfo.git
[submodule "systems/work_22_parse_args"]
	path = systems/work_22_parse_args
	url = git@github.com:CreativePenguin/stuy-cs-systems-work_07_parse_args.git
[submodule "systems/proj_01_shell"]
	path = systems/proj_01_shell
	url = git@github.com:CreativePenguin/stuy-cs-systems-p1_shell.git
[submodule "systems/work_23_semaphore"]
	path = systems/work_23_semaphore
	url = git@github.com:CreativePenguin/stuy-cs-systems-w08_semaphore.git
[submodule "systems/proj_02_final"]
	path = systems/proj_02_final
	url = git@github.com:CreativePenguin/stuy-cs-systems-p2_final.git
[submodule "graphics/w00_picmaker"]
	path = graphics/w00_picmaker
	url = git@github.com:CreativePenguin/stuy-cs-graphics-w00_picmaker.git
